In [1]:
import numpy as np
import pandas as pd
from scipy.stats import rankdata
from os.path import exists

In [2]:
def round_to_int(x):
    return np.round(x).astype(int)

In [3]:
if not exists('./in.txt'):
    raise FileNotFoundError('Файл с входными данными не найден')

In [4]:
data =  pd.read_table('./in.txt', sep=' ', header=None, names=['x','y'])

In [5]:
if data.shape[0] < 9:
    raise ValueError('Слишком мало входных данных')

In [6]:
sorted_data = data.sort_values('x')
sorted_data.head()

     x   y
7    1  51
6    2  48
23   5  52
20   8  42
17  10  50

In [7]:
ranks = rankdata(sorted_data['y'].values, method='average')
table = pd.concat([sorted_data, 
                   pd.Series(ranks, name='r', index=sorted_data.index)], axis=1).sort_values('x')
table.head()

     x   y     r
7    1  51  23.0
6    2  48  20.0
23   5  52  24.5
20   8  42  16.0
17  10  50  21.5

In [8]:
# Поправим порядок ранков с "минимальный к максимальному" на "максимальный к минимальному"
table.r -= table.r.max() + 1
table.r *= -1 
table

     x   y     r
7    1  51   6.0
6    2  48   9.0
23   5  52   4.5
20   8  42  13.0
17  10  50   7.5
24  13  57   1.0
3   17  33  16.5
12  19  52   4.5
22  19  50   7.5
27  20  42  13.0
8   22  31  19.0
15  26  41  15.0
16  26  53   2.5
18  30  53   2.5
25  31  33  16.5
4   33  43  11.0
21  33  42  13.0
1   35  47  10.0
2   36  30  20.5
10  40  19  24.5
13  41  32  18.0
26  42  11  26.0
19  44  30  20.5
5   45   1  28.0
11  46  21  22.5
0   47  21  22.5
14  48  19  24.5
9   51   4  27.0

In [9]:
N = len(data)
p = round(N/3)
print(N, p)

28 9

In [10]:
R1, R2 = sum(table.r[:p]),sum(table.r[-p:])
R1, R2

(69.5, 213.5)

In [11]:
diff = R1 - R2
err = (N + 1/2) * np.sqrt(p/6)
diff, err

(-144.0, 34.905228834660285)

In [12]:
coef = diff / (p*(N-p))
coef

-0.8421052631578947

In [15]:
with open('out.txt', 'w') as f:
    f.writelines(f'{round_to_int(diff)} {round_to_int(err)} {np.round(coef,2)}\n')